.App {
  text-align: center;
  width: 100%;
  height: 100%;

  .inputs{
    display: flex;
  }

  div.main {
    padding-top: 60px;

    div.sidebar {
      min-width: 280px;
    }
  }
  div.hafill {
    min-height: 100%;
    height: auto;
  }
  div.hfill {
    min-height: 100%;
    height: 100%;
  }
  div.wfill {
    min-width: 100%;
  }
  input {
    max-width: 100%;
    border: none;
  }
}
