.App {
  text-align: center;
  width: 100%;
  height: auto;

  .inputs{
    display: flex;
  }

  div.main {
    padding-top: 60px;
  }
  div.hfill {
    height: 100%;
  }
  div.wfill {
    width: 100%;
  }
  input {
    max-width: 100%;
    border: none;
  }
}
